ansi2html                     
beautifulsoup4                
cachetools                    
certifi                       
charset-normalizer            
click                         
colorama                      
dash                          
dash-bootstrap-components     
dash-core-components          
dash-html-components          
dash-table                    
Flask                         
google                        
google-api-core               
google-auth                   
google-cloud-aiplatform       
google-cloud-bigquery         
google-cloud-core             
google-cloud-resource-manager 
google-cloud-speech           
google-cloud-storage          
google-crc32c                 
google-resumable-media        
googleapis-common-protos      
grpc-google-iam-v1            
grpcio                        
grpcio-status                 
idna                          
itsdangerous                  
Jinja2                        
MarkupSafe                    
nest-asyncio                  
numpy                         
packaging                     
pandas                        
pip                           
plotly                        
proto-plus                    
protobuf                      
pyasn1                        
pyasn1-modules                
PyAudio                       
pydub                         
python-dateutil               
pytz                          
regex                         
requests                      
retrying                      
rsa                           
setuptools                    
Shapely                       
six                           
soupsieve                     
SpeechRecognition             
tenacity                      
typing_extensions             
tzdata                        
urllib3                       
vertexai                      
Werkzeug                      
wheel                         